{% extends "layout.html" %}
{% block body %}
<p>Most claims that are made in a typical scientific paper are based on work done by other scientists. That is how science works. But when scientists <i>approvingly</i> cite---cite without noting any concern---problematic research, this bedrock of science turns to mush. The aim of this tool is to prevent that.

The geneis of <a href="http://re-cite.org">re-cite.org</a> is in a <a href="http://github.com/recite/prop_error/">paper</a>. The paper shows that retracted articles continue to be <i>approvingly</i> cited in published research long after a retraction notice has been published. To help scientists and academic publishers avoid making this error, we are making this tool freely available. We are also making the code underneath the web application freely available on <a href="http://github.com/recite/re-cite.org">Github</a>.

We shall be grateful for any ideas or suggestions. We shall also be grateful if you alert us to something that doesn't work. To keep us going, please also share stories about how the tool has helped you. Please reach out to us via the <a href="contact.html">Contact page</a> or open an issue on Github. We look forward to hearing from you.
</p>
{% endblock %}
